.wrap {
    width: 100%;
    padding-top: 100px;
    box-sizing: border-box;
}

.wrap::after {
    content: '';
    clear: both;
    display: table;
}

.category {
    width: 250px;
    background: #eee;
    position: fixed;
    height: 100vh;
    padding-top: 20px;
    float: left;
}

.category a {
    display: inline-block;
    margin: 5px;
}

.desc {
    box-sizing: border-box;
    padding-left: 20px;
    line-height: 30px;
    overflow: hidden;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

.main {
    width: 60%;
    min-width: 120px;
    padding: 0px 0px 20px 250px;
    float: left
}

.timestamp {
    padding: 10px 5px;
    text-align: right;
}

.list {
    width: 100%;
    transition: opacity 1s;
}

.media {
    float: left;
    width: 120px;
    padding: 3px;
    box-sizing: border-box;
}

.media img {
    filter: grayscale(100%);
    max-width: 100%;
    max-height: 100%;
}

.item {
    padding: 5px;
    min-height: 50px;
    max-height: 150px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    display: block;
    text-decoration: none;
    color: #000;
    transition: all 1s;
}

.item:hover {
    background: #f7fdff;
}