.article {
    padding: 15px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
}

.desc {
    font-size: 20px;
    line-height: 30px;
}

.tool {
    padding: 10px;
}

.tool a {
    text-decoration: none;
    color: #aaa;
    padding: 8px;
}

.tool a:hover {
    color: #848484;
}