html, body {
    height: 100%;
}

body:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background: url('/dist/images/pexels-photo.jpg') no-repeat center;  
    max-width: 100%;
    height: 100%;
    opacity: 0.04  
}

.nav {
    margin: 5px 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    color: #000;
}

.nav.notes {
    background: url('/dist/images/notepad.svg') no-repeat center;
    background-size: 80%;
}

.nav.aboutme {
    background: url('/dist/images/avatar.svg') no-repeat center;
    background-size: 70%;
}

.nav:before, .nav:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.nav:hover:before {
    border: 2px solid #ddd;
    border-right: 0;
    width: 10px;
}

.nav:hover:after {
    border: 2px solid #ddd;
    width: 10px;
    border-left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.nav:active:before, .nav:active:after {
    border-color: red;
}

.nav.lg {
    width: 140px;
    height: 140px;
    font-size: 20px;
}

.nav.sm {
    width: 60px;
    height: 60px;
    font-size: 15px;
}

.nav.sm:hover:before {
    border-width: 1px;
}

.header {
    background: #999;
    padding: 5px;
    box-sizing: border-box;
    height: 100px;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.headerLogo {
    height: 100%;
    display: inline-block;
}

.headerLogo img {
    height: 100%;
    filter: grayscale(100%);
    transition: all .5s;
}

.headerLogo img:hover {
    filter: grayscale(0%);
}


.logo {
    width: 70%;
    max-width: 580px;
    margin: auto;
    text-align: center;
}

.logo img {
    width: 100%;
    height: 100%;
}