html, body {
    height: 100%;
}

.btn-category {
    margin: 5px 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    color: #000;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #ddd;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    &:hover {
        &:before {
            border: 2px solid red;
            content: '+';
            color: red;
            line-height: 100px;
        }
        &:after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 70%;
            border: 2px solid #ddd;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            margin: auto;
        }
    }

    &.lg {
        width: 140px;
        height: 140px;
        font-size: 20px;
        &:before {
            line-height: 140px;
        }
    }
    
    &.sm {
        width: 60px;
        height: 60px;
        font-size: 15px;
        &:before{
            line-height: 60px;
        }
    }
}

.header {
    background: #999;
    padding: 5px;
    box-sizing: border-box;
    height: 100px;
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 1;
}


#cd-logo {
    width: 70%;
    max-width: 580px;
    margin: auto;
    text-align: center;
}

#cd-logo-img {
    width: 100%;
    height: 100%;
}